{% extends 'base.html.twig' %}

{% block body %}
    {% embed 'shared/_responsiveContainer.html.twig' %}
        {% block content %}
            <div class="flex mb-7">
                <a href="{{ path('app_post') }}"
                   class="w-full text-center bg-transparent transition ease-in-out outline outline-1 outline-indigo-500 hover:bg-indigo-500 hover:text-gray-100 dark:text-gray-300 py-2 px-16 rounded-md hover-outline-none">
                    Add Flux
                </a>
            </div>

            <turbo-frame id="post-browse-list-{{ pager.currentPage }}">
                {% for post in pager %}
                    {% include 'post/_postContainer.html.twig' with {
                        'id': post.id,
                        'user': post.author.firstName ~ ' ' ~ post.author.lastName,
                        'post': post.content,
                        'createdAt': post.createdAt,
                    } %}
                {% endfor %}

                {% if pager.hasNextPage %}
                    <turbo-frame id="post-browse-list-{{ pager.nextPage }}"
                                 src="{{ pagerfanta_page_url(pager, pager.nextPage) }}" loading="lazy"></turbo-frame>
                {% else %}
                    <div class="bg-white dark:bg-gray-800 py-3 px-6 rounded-lg border dark:border-gray-700 w-full">
                        <p class="text-gray-500 dark:text-gray-300 text-center">No more posts to load, try to refresh
                            the page.</p>
                    </div>
                {% endif %}

            </turbo-frame>
        {% endblock %}
    {% endembed %}
{% endblock %}
