<!DOCTYPE html>
<html lang="pl" class="">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon"
              href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            {% block js %}{% endblock %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body class="bg-gray-50 dark:bg-gray-900">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% include 'home/navbar.html.twig' %}
        {% endif %}

        <div>
            {% block body %}{% endblock %}
        </div>

        <div id="flash-container">
            {{ include('shared/_flashes.html.twig') }}
        </div>
    </body>
</html>